
/*
	Slideshow
*/

#slides {
	position:absolute;
	top:15px;
	left:0px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:960px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:960px;
	height:320px;
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:10px;
	left:900px;
	width:10px;
	height:15px;
	display:block;
	z-index:101;
	text-indent:-9999px;
}


#slides .prev{background:url(../img/arrow-prev.png) no-repeat;}
#slides .prev:hover{background:url(../img/arrow-hover-prev.png) no-repeat;}
#slides .next {left:930px;background:url(../img/arrow-next.png) no-repeat;}
#slides .next:hover{background:url(../img/arrow-hover-next.png) no-repeat;}

/*
	Pagination
*/

.pagination {
	position:absolute;
	z-index:300;
	margin:-304px auto 0 18px;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 2px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:5px;
	height:0;
	padding-top:10px;
	background-image:url(../img/pagination.png);
	background-repeat:no-repeat;
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:-7px 0;
}




